In [1]:
censo_arquivos = ["data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2012.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2013.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2014.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2015.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2016.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2017.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2018.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2019.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2020.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2021.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2022.CSV",
"data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2023.CSV"]

In [1]:
import pandas as pd

In [3]:
all_dfs = []
for file_name in censo_arquivos:
    # Create the full file path
    # file_path = os.path.join(data_dir, file_name)
    
    # Read the Excel file with the same parameters you used
    df = pd.read_csv(file_name, sep=';', encoding='latin1')
    # df = df.iloc[:-1]
    
    # Optional: Add a column to identify which file this data came from
    df['source_file'] = file_name
    
    # Append to our list of dataframes
    all_dfs.append(df)
    
    # Print confirmation (optional)
    print(f"Loaded {file_name}, shape: {df.shape}")

# Combine all dataframes into one
raw_df = pd.concat(all_dfs, ignore_index=True)

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2012.CSV, shape: (63855, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2013.CSV, shape: (66126, 201)
Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2014.CSV, shape: (73569, 201)
Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2015.CSV, shape: (81156, 201)
Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2016.CSV, shape: (92866, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2017.CSV, shape: (119798, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2018.CSV, shape: (182892, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2019.CSV, shape: (253139, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2020.CSV, shape: (344691, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2021.CSV, shape: (444786, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2022.CSV, shape: (573019, 201)

/tmp/ipykernel_104046/2080535416.py:7: DtypeWarning: Columns (1,3,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, sep=';', encoding='latin1')

Loaded data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2023.CSV, shape: (671610, 203)

In [7]:
df.to_parquet("data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2012_2023.parquet")

In [2]:
df = pd.read_parquet("data/dados_censo/MICRODADOS_CADASTRO_CURSOS_2012_2023.parquet")

In [4]:
df.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,...,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA,source_file
0,2023,None,NaN,None,None,NaN,None,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,data/dados_censo/MICRODADOS_CADASTRO_CURSOS_20...
1,2023,None,NaN,None,None,NaN,None,NaN,NaN,2,...,0,2,2,2,0,0,0,0,0,data/dados_censo/MICRODADOS_CADASTRO_CURSOS_20...
2,2023,None,NaN,None,None,NaN,None,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,data/dados_censo/MICRODADOS_CADASTRO_CURSOS_20...
3,2023,None,NaN,None,None,NaN,None,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,data/dados_censo/MICRODADOS_CADASTRO_CURSOS_20...
4,2023,None,NaN,None,None,NaN,None,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,data/dados_censo/MICRODADOS_CADASTRO_CURSOS_20...